.outside{
    border: #0700ff 1px dotted;
    border-radius: 3px;
    padding: 5px;
    width: 300px;
}
.middle{
    border: #ff0100 1px dashed;
    border-radius: 3px;
    padding: 5px;
    width: 290px;
}
.inner{
    border: #128000 1px solid;
    border-radius: 3px;
    padding: 5px;
    text-align: center;
    font-size: large;
    width: 280px;
}